.cardOfProgram {
    display: flex;
    width: 25em;
    padding: 1em;
    grid-column-gap: 1em;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    border-color: rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.cardOfProgram:hover{
    background-color: #ecf1ff;
}

.programTime{
    min-width: 3.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 0.25em;
    background-color: #ecf1ff;
    color: #4b70d5;
    line-height: 1;
    text-align: center;
}

.programTitle{
    min-width: 5em;
}

.programDescription{
    color: #777;
    font-size: 0.6em;
}