  .polaroid {
    display: inline-block;
    background: #fff;
    padding: 0.4em;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 0.3em;
    transition: transform 500ms ease;
    text-align: center;
  }

  .polaroid:hover{
    transform: scale(1.45);
  }

  .turnRight{
    transform: rotate(7.5deg);
  }

  .turnLeft{
    transform: rotate(-7.5deg);
  }

  .largeImg{
    width: 12em;
    height: 8em;
  }

  .middleImg{
    width: 9em;
    height: 6em;
  }

  .smallImg{
    width: 5em;
    height: 3em;
  }

  .caption {
    text-align: center;
  }