.PalaroidPhoto {

}
  .polaroid {
    display: inline-block;
    background: #fff;
    padding: 0.4em;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 0.3em;
    transition: transform 500ms ease;
    text-align: center;
  }

  .polaroid:hover{
    transform: scale(1.45);
  }

  .turnRight{
    transform: rotate(7.5deg);
  }

  .turnLeft{
    transform: rotate(-7.5deg);
  }

  .turnOff{
    transform: rotate(0deg);
  }

  .largeImg{
    width: 18em;
    height: 14em;
  }

  .middleImg{
    width: 15em;
    height: 11em;
  }

  .smallImg{
    width: 11em;
    height: 8em;
  }

  .caption {
    font-size: 1rem;
    text-align: center;
    line-height: 1.8em;
  }