.PageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10vh 8% 5vh;
    font-family: Inter;
}

.logo{
    border-radius: 50%;
    animation: 1s rotateLogo;
    height: 6em;
    width: 6em;
}

@keyframes rotateLogo{
    0%{
        transform: rotateZ(-720deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.title{
    font-size: 4.5em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.description{
    text-transform: uppercase;
    font-size: 1em;
    border-top: 1px solid #ddd;
    margin-top: 0em;
    padding-top: 0.5em;
    color: #555;
    font-weight: 300;
    letter-spacing: 0.05em;
}