.ourTeam {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6vh;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
}

a{
    color: inherit;
}