.locationPage {}

.locationTitle{
    width: 100%;
    font-size: 2em;
}

.locationContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 3vh 8% 8vh;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.accommodation {
    display: flex;
    justify-content: center;
    grid-column-gap: 2em;
}

.accommodationPhoto{
    padding-top: 2em;
}

p, li{
    font-size: 0.8em;
}

@media screen and (max-width: 479px){
        .accommodation{
            flex-wrap: wrap;
        }
        p, li{
            font-size: 0.9em;
        }
   }