.galleryPrew {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 18em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 2em;
    align-items: stretch;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 10px 30px -30px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.galleryPrew:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.galleryCover{
    width: 100%;
    height: 11em;
    object-fit: cover;
}

h4{
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: left;
}