.galleryPrew {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 18em;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: stretch;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 10px 30px -30px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.galleryPrew:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.galleryCover{
    width: 100%;
    height: 11em;
    object-fit: cover;
}

.miniPrews{
    display: flex;
    margin-top: -1em;
    margin-right: 1em;
    margin-left: 1em;
    justify-content: flex-end;
    grid-column-gap: 0.25em;
}

.miniPrewItem{
    width: 2em;
    height: 2em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

h4{
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: left;
}

img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}