body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7f7;
  font-size: 2vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular.ttf);
}

p{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 0.6em;
  line-height: 1.6;
}

h2{
  margin-bottom: 0em;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
}

h4{
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 0.8em;
  font-weight: 500;
}

h5{
  margin: auto 0em;
  font-size: 0.7em;
  line-height: 1.2;
  font-weight: 400;
}

.program{
  position: relative;
  display: flex;
  padding-bottom: 8vh;
  flex-direction: column;
  align-items: center;
}

.section{
  padding: 3vh 8% 8vh;
}
