.homePage {

}

.header{
    position: relative;
    display: flex;
    padding: 10vh 8% 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockAbsolute{
    position: absolute;
}

.photoLeft{
    left: 3em;
}

.photoRight{
    right: 3em;
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    grid-column-gap: 3em;
    grid-row-gap: 2em;
    padding: 3vh 7% 8vh;
}

@media screen and (max-width: 479px){
    .blockAbsolute{
        position: unset;
    }
    .header{
        flex-wrap: wrap;
        flex-direction: unset;
        padding: 0vh;
    }
}

